.App {
  text-align: center;
}

.pilt {
  width: 100px;
  /* height: 200px; */
  object-fit: cover;
}

.pilt:hover{
  cursor: pointer;
  opacity: 70%;
  /* opacity: 0.7; */
}

.pilt:active{
  transform: rotate(5deg);
  width: 95px;
}

.nupp {
  font: caption;
  background-color: brown;
  color: white;
  border-radius: 5px;
}

.nupp:hover{
  cursor: pointer;
  background-color: rgba(165, 42, 42, 0.821);
}

.nupp:active{
  background-color: rgb(118, 30, 30);
  text-decoration: underline;
}

a img:hover {
  /* https://isotropic.co/tool/hex-color-to-css-filter/ */
  filter: invert(32%) sepia(88%) saturate(7145%) hue-rotate(311deg) brightness(87%) contrast(109%);
}

h1 {
  font-size: 3.5rem;
  line-height: 4rem;
}